# flyctl launch added from .gitignore
# env file
**/.env

# Supabase
**/.supabase

# Supabase
**/**/supabase/.branches
**/**/supabase/.temp

# Sublime
**/*.sublime-workspace

# Pocketbase
**/pocketbase/*
!**/pocketbase/pb_schema.json
fly.toml
