html,
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #212121
	}
}
 
* {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	background-color: #8267BE;
	color: #fff;
}

button:focus {
	outline: none!important;
}

a {
	color: inherit;
	text-decoration-line: none;
}