:root {
	color-scheme: light dark;
}

html,
body {
	margin: 0;
	font-family: "Poppins", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow-x: hidden;
	background-color: "#fff";
}

@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #121212
	}
}

html { 
	height: 100%;
}

body { 
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1;
}
 
@media (hover: none) {
	* {
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	input, input::after, input::before {
		-webkit-touch-callout: initial;
		-webkit-user-select: initial;
		-khtml-user-select: initial;
		-moz-user-select: initial;
		-ms-user-select: initial;
		user-select: initial;
	}
}

*::-webkit-scrollbar {
	width: .75rem;
	height: .75rem;
}

*::-webkit-scrollbar-track {
	background: #fff;
}

*::-webkit-scrollbar-thumb {
	background: #ddd;
	transition: background 0.2s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
	background: #ccc;
}

@media (prefers-color-scheme: dark) {
	*::-webkit-scrollbar-track {
		background: #121212;
	}

	*::-webkit-scrollbar-thumb {
		background: #212121;
	}

	*::-webkit-scrollbar-thumb:hover {
		background: #333;
	}
}

::selection {
	background-color: #8267BE;
	color: #fff;
}

button:focus {
	outline: none!important;
}

a {
	color: inherit;
	text-decoration-line: none;
}
