:root {
	color-scheme: light dark;
}

html,
body {
	margin: 0;
	font-family: "Poppins", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
	background-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: #121212;
		color: #dddddd;
	}
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1;
}

@media (hover: none) {
	* {
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	input,
	input::after,
	input::before {
		-webkit-touch-callout: initial;
		-webkit-user-select: initial;
		-khtml-user-select: initial;
		-moz-user-select: initial;
		-ms-user-select: initial;
		user-select: initial;
	}

	*::-webkit-scrollbar {
		display: none;
	}

	* {
		scrollbar-width: none;
	}
}

*::-webkit-scrollbar {
	width: 0.75rem;
	height: 0.75rem;
}

*::-webkit-scrollbar-track {
	background: #dddddd;
}

*::-webkit-scrollbar-thumb {
	background: #cccccc;
	transition: background 0.2s ease-in-out;
	border-radius: 0.95rem;
}

*::-webkit-scrollbar-thumb:hover {
	background: #bbbbbb;
}

@media (prefers-color-scheme: dark) {
	*::-webkit-scrollbar-track {
		background: #121212;
	}

	*::-webkit-scrollbar-thumb {
		background: #212121;
	}

	*::-webkit-scrollbar-thumb:hover {
		background: #323232;
	}
}

::selection {
	background-color: #8267be;
	color: #fff;
}

button:focus {
	outline: none !important;
}

a {
	color: inherit;
	text-decoration-line: none;
}

.grainy {
	background:	url(/noise-light.svg);
	background-repeat: repeat;
	background-size: 512px 512px;
}

@media (prefers-color-scheme: dark) {
	.grainy {
		background: url(/noise-dark.svg);
	}
}