
html,
body {
	margin: 0;
	font-family: "Poppins", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow-x: hidden;
	background-color: "#fff";
}

@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #212121
	}
}

html { 
	height: 100%;
}

body { 
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1;
}
 
*:not(body) {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

*:not(body)::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


* {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, input::after, input::before {
	-webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

::selection {
	background-color: #8267BE;
	color: #fff;
}

button:focus {
	outline: none!important;
}

a {
	color: inherit;
	text-decoration-line: none;
}

.material-symbols-outlined {
	font-variation-settings:
  		'FILL' 0,
  		'wght' 300,
  		'GRAD' 200,
  		'opsz' 48
}